form {
  margin:0 auto;
  width:300px
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}
button {
  padding:10px
}
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}
.message{
	margin:10 auto;
	border: 2px solid;
	background-color: mistyrose;
	font-weight: bold;
	padding: 5px 20px;
	display:none;
	width:350px;
	text-align:center;
}
#errorMessage{
	border-color:IndianRed;
	background-color: mistyrose;
}
#successMessage{
	border-color: SteelBlue; 
	background-color: LightCyan;
}
.messageHolder{
	width:400px;
	text-align:center;
	height: 40px;
}
table {
	font-family: verdana,arial,sans-serif;
	color:#333333;
	border-width: 1px;
	border-color: #3A3A3A;
	border-collapse: collapse;
	text-align:center;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #3A3A3A;
	background-color: #B3B3B3;
	font-color: white;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #3A3A3A;
	background-color: #ffffff;
}
td.currency{
	text-align: right;
}

